<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
 <h1>Books in Library</h1>

    {% if books %}
      {% for book in books %}
        <div>
          <h3>{{ book.book_title }}</h3>
          <p>ISBN: {{ book.isbn }}</p>
          <p>Year: {{ book.publication_year }}</p>
          <p>Author: {{ book.author.author_name }}</p>
        </div>
      {% endfor %}
         {% if book.cover_url %}
      <img src="{{ book.cover_url }}" alt="Cover for {{ book.book_title }}">
    {% else %}
      <img src="/static/images/placeholder.png" alt="No Cover Available">
    {% endif %}

     {% else %}
      <p>No books found.</p>
    {% endif %}
  </body>
</html>